<br />
<form (ngSubmit)="onSubmit()">
<table style="width: 300px; float: right;">
    <tr>
    <td style="width: 5%; padding: 15px;"><input placeholder="Search..." type="text" required [(ngModel)]="prodName" name="prodName" /></td>
    <td><input type="submit" value="Search" class="btn btn-sm btn-primary"/></td>
</tr>
</table>
</form>
<a routerLink="add" [queryParams]="{ path: 'data' }" class="btn btn-sm btn-success mb-2">Add </a>
&nbsp;
<!-- <button class="btn btn-sm btn-success mb-2" (click)="showContacted()" >Show Contacted</button> -->

<table class="table table-striped" style="width:80%; position:relative; left:10%; margin-top:50px; border: 2px solid grey">
    <thead>
        <tr>
            <th style="width: 7%;">Sl No</th>
            <th style="width: 5%;">Brand</th>
            <th style="width: 15%;">Product Name</th>
            <th style="width: 5%;">Weight/Quanity</th>
            <th style="width: 5%">Unit</th>
            <th style="width: 5%;">Buy Price</th>
            <th style="width: 5%;">MRP</th>
            <th style="width: 5%;">Sell Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-size: small;">
        <tr style="border: 2px solid grey" *ngFor="let product of products; let ele = index" id={{product.pbId}}>
            <td>{{ (currentPage * perPage) + ele + 1}}</td>
            <td>{{ product.Brand}}</td>
            <td>{{ product.ProductName}}</td>
            <td>{{ product.Quantity}}</td>
            <td *ngIf="product.Unit == '1'">{{product.UnitPrice}}/KG</td>
            <td *ngIf="product.Unit == '2'">{{product.UnitPrice}}/piece</td>
            <td>{{ product.BuyPrice}}</td>
            <td>{{ product.MRP}}</td>
            <td>{{ product.SellPrice}}</td>
            <td style="white-space: nowrap">
                <p>
                <button (click)="deleteProduct(product.pbId)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="working">
                    <span *ngIf="working" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!working">Delete</span>
                </button>
                &nbsp;
                <a [routerLink]="['edit', product.pbId]" [queryParams]="{ page: currentPage }" class="btn btn-sm btn-success">Edit</a>
                &nbsp;
            </p>
            </td>
        </tr>
        <tr *ngIf="!products">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
        <tr *ngIf="products" style="column-span: all;">
            <td style="align-content: center; text-align: center;" colspan="12">
                <span class="mr-1" *ngFor="let loop of loopArray; let indexEle = index">
                    <button class="btn btn-sm btn-success" [disabled]="currentPage == indexEle" (click)="getAll(indexEle)">{{ indexEle + 1}}</button>
                </span>
            </td>
        </tr>
    </tbody>
</table>
