<table class="table table-striped table-bordered" >
    <tbody style="font-size: small;">
        <tr>
            <td>{{user.waNr}} {{user.altNr }}</td>
            <td>{{user.dob}} <p></p> {{user.time}}</td>
            <td>{{user.cityOfBirth}}/ {{user.stateOfBirth}}</td>
            <td>{{ getHeight(user.height) }}</td>
            <td>{{user.jobType}} / {{user.jobDesc}}</td>
            <td>{{user.nativePlace }}</td>
            <td>{{user.income}}</td>
            <td>{{user.qualification}}</td>
            <td>{{user.jobCity}} {{user.jobState}}</td>
            <td>{{user.paid ? 'Yes': 'No'}}</td>
            <td>{{user.source}} <p></p>{{ getDate(user.newsPaperDate)}} </td>
        </tr>
    </tbody>
</table>
<form #myform [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-2">
            <label>User Id</label>
            <input type="text" formControlName="userId" [attr.disabled]="true" class="form-control" />
        </div>
        <div class="form-group col-2">
            <label>dob(yyyy-mm-dd)</label>
            <input type="text" value={{dob}} [attr.disabled]="true" class="form-control" />
        </div>
        <div class="form-group col">
            <label>Lower Age</label>
            <input type="number" formControlName="lowerAge" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lowerAge.errors }" />
            <div *ngIf="submitted && f.lowerAge.errors" class="invalid-feedback">
                <div *ngIf="f.lowerAge.errors.required">Lower Age is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Upper Age</label>
            <input type="number" formControlName="upperAge" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.upperAge.errors }" />
            <div *ngIf="submitted && f.upperAge.errors" class="invalid-feedback">
                <div *ngIf="f.upperAge.errors.required">Upper Age is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Lower Height</label>
            <input type="number" formControlName="lowerHeight" class="form-control" />
        </div>
        <div class="form-group col">
            <label>Upper Height</label>
            <input type="number" formControlName="upperHeight" class="form-control" />
        </div>
        <div class="form-group col-3">
            <label>Qualification</label>
            <input type="text" formControlName="qualification" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="states">State Prefernce</label>
            <select multiple (click)="getCities($any($event.target).value)" formControlName="statePref" class="form-control" >
                <option *ngFor="let st of states;" [value]="st.state">{{st.state}}</option>
            </select>
        </div>
        <div class="form-group col">
            <label>City Preference</label>
            <select multiple formControlName="cityPref" class="form-control" >
                <option *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
        </div>
        <div class="form-group col">
            <label>Job Type</label>
            <select multiple formControlName="jobType" class="form-control" >
                <option *ngFor="let jobType of jobTypes" [value]="jobType">{{jobType}}</option>
            </select>
        </div>
        <div class="form-group col">
            <label>Job Desc</label>
            <input type="text" formControlName="jobDesc" class="form-control" />
        </div>
        <div class="form-group col">
            <label>Caste</label>
            <select multiple formControlName="caste" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.caste.errors }">
                <option *ngFor="let cast of castes" [value]="cast">{{cast}}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label for="states">Job State Prefernce</label>
            <select multiple (change)="getJobCities($any($event.target).value)" formControlName="jobState" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobState.errors }">
                <option *ngFor="let st of states;" [value]="st.state">{{st.state}}</option>
            </select>
            <div *ngIf="submitted && f.jobState.errors" class="invalid-feedback">
                <div *ngIf="f.jobState.errors.required">jobState is required</div>
            </div>
        </div>
        <div class="form-group col-2">
            <label>Job City Preference</label>
            <select multiple formControlName="jobCity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobCity.errors }">
                <option *ngFor="let city of jobCities" [value]="city">{{city}}</option>
            </select>
            <div *ngIf="submitted && f.jobCity.errors" class="invalid-feedback">
                <div *ngIf="f.jobCity.errors.required">Job City is required</div>
            </div>
        </div>
        <div class="form-group col-2">
            <label>Lower Income</label>
            <input type="text" formControlName="lowerIncome" class="form-control" />
        </div>
        <div class="form-group col-2">
            <label>Upper Income</label>
            <input type="text" formControlName="upperIncome" class="form-control" />
        </div>
        
    </div>
    <div class="form-group">
        <button [disabled]="loading || this.form.invalid" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" [queryParams]="{ path: path }" class="btn btn-link">Cancel</a>
    </div>
    <!-- <p>myForm value: {{ form.value | json }}</p>
<p>myForm status: {{ form.status | json }}</p> -->
</form>