<!-- <h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1> -->
<form #myform [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-2">
            <label>Name</label>
            <input type="text" formControlName="name" class="form-control" />
            <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors">Name is required</div>
            </div> -->
        </div>
        <!--<div class="form-group col-5">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div> -->
        <div class="form-group col-3">
            <label>dob</label>
            <input type="date" id="dob" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">dob is required</div>
            </div>
        </div>
        <div class="form-group col-3">
            <label>Time of birth</label>
            <input type="time" formControlName="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.time.errors }" />
            <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                <div *ngIf="f.time.errors.required">Time is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Height</label>
            <input type="text" formControlName="height" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.height.errors }" />
            <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
                <div *ngIf="f.height.errors.required">height is required</div>
            </div>
        </div>
        <div *ngIf="!isAddMode" class="form-group col">
            <label>UserId</label>
            <input type="text"  [attr.disabled]="true" formControlName="userId" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-4">
            <label for="states">State</label>
            <select (change)="getBirthCities($any($event.target).value)" formControlName="stateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stateOfBirth.errors }">
                <option *ngFor="let st of states;" [value]="st.state">{{st.state}}</option>
            </select>
            <div *ngIf="submitted && f.stateOfBirth.errors" class="invalid-feedback">
                <div *ngIf="f.stateOfBirth.errors.required">State is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>City of Birth</label>
            <select formControlName="cityOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cityOfBirth.errors }">
                <option *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
            <div *ngIf="submitted && f.cityOfBirth.errors" class="invalid-feedback">
                <div *ngIf="f.cityOfBirth.errors.required">City Of Birth is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Native Place</label>
            <input type="text" formControlName="nativePlace" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nativePlace.errors }" />
            <div *ngIf="submitted && f.nativePlace.errors" class="invalid-feedback">
                <div *ngIf="f.nativePlace.errors.required">Native Place is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Qualification</label>
            <input type="text" formControlName="qualification" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qualification.errors }" />
            <div *ngIf="submitted && f.qualification.errors" class="invalid-feedback">
                <div *ngIf="f.qualification.errors.required">Qualification is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label>Job Type</label>
            <select formControlName="jobType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobType.errors }">
                <option *ngFor="let jobType of jobTypes" [value]="jobType">{{jobType}}</option>
            </select>
            <div *ngIf="submitted && f.jobType.errors" class="invalid-feedback">
                <div *ngIf="f.jobType.errors.required">jobType is required</div>
            </div>
        </div>
        <div class="form-group col-2">
            <label>Job Desc</label>
            <input type="text" formControlName="jobDesc" class="form-control" />
        </div>
        <div class="form-group col-2">
            <label for="states">Job State</label>
            <select (change)="getJobCities($any($event.target).value)" formControlName="jobState" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobState.errors }">
                <option *ngFor="let st of states;" [value]="st.state">{{st.state}}</option>
            </select>
            <div *ngIf="submitted && f.jobState.errors" class="invalid-feedback">
                <div *ngIf="f.jobState.errors.required">jobState is required</div>
            </div>
        </div>
        <div class="form-group col-2">
            <label>Job City</label>
            <select formControlName="jobCity" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobCity.errors }">
                <option *ngFor="let city of jobCities" [value]="city">{{city}}</option>
            </select>
            <div *ngIf="submitted && f.jobCity.errors" class="invalid-feedback">
                <div *ngIf="f.jobCity.errors.required">Job City is required</div>
            </div>
        </div>
        <div class="form-group col-2">
            <label>Income</label>
            <input type="text" formControlName="income" class="form-control" />
            <!-- <div *ngIf="submitted && f.income.errors" class="invalid-feedback">
                <div *ngIf="f.income.errors.required">Email is required</div>
            </div> -->
        </div>
        <div class="form-group col-2">
            <label>Family Details</label>
            <textarea rows="5" type="text" formControlName="familyDetails" class="form-control">
            </textarea>
            <!-- <div *ngIf="submitted && f.income.errors" class="invalid-feedback">
                <div *ngIf="f.income.errors.required">Email is required</div>
            </div> -->
        </div>

        
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Mobile Number</label>
            <input type="text" formControlName="waNr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.waNr.errors }" />
            <div *ngIf="submitted && f.waNr.errors" class="invalid-feedback">
                <div *ngIf="f.waNr.errors.required">Email is required</div>
            </div>
        </div>
        
        <div class="form-group col">
            <label>Caste</label>
            <select formControlName="caste" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.caste.errors }">
                <option *ngFor="let cast of castes" [value]="cast">{{cast}}</option>
            </select>
        </div>
        <div class="form-group col">
            <label>Religion</label>
            <select formControlName="religion" class="form-control" >
                <option *ngFor="let rel of religions" [value]="rel">{{rel}}</option>
            </select>
        </div>
        <div class="form-group col">
            <label>Marriage Status</label>
            <select formControlName="mrgStatus" class="form-control" >
                <option *ngFor="let mrg of mrgStatuses" [value]="mrg">{{mrg}}</option>
            </select>
        </div>
        <div class="form-group col">
            <label>Source</label>
            <select formControlName="source" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.source.errors }">
                <option *ngFor="let src of sources" [value]="src">{{src}}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label>News paper date</label>
            <input type="date" formControlName="newsPaperDate" class="form-control" />
        </div>
        <div class="form-group col-3">
            <label>Alternate Number</label>
            <input type="text" formControlName="altNr" class="form-control" />
        </div>
        <div class="form-group col-4">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" />
        </div>
        <div class="form-group col">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label>Smoking</label>
            <select formControlName="smoking" class="form-control" >
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label>Drinking</label>
            <select formControlName="drink" class="form-control" >
                <option value="yes">Yes</option>
                <option value="no">No</option>
                <option value="occasionally">Occasionally</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label>Diet</label>
            <select formControlName="diet" class="form-control" >
                <option value="veg">Veg</option>
                <option value="egg">Eggaterian</option>
                <option value="non-veg">Non-Veg</option>
            </select>
        </div>
        <div class="form-group col">
            <label>Manglik</label>
            <input type="text" formControlName="manglik" class="form-control" />
        </div>
        <div class="form-group col">
            <label>Paid</label>
            <input type="text" formControlName="paid" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label>PR</label>
            <select formControlName="pr" class="form-control" >
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="form-group col-2">
            <label>PR Country</label>
            <input type="text" formControlName="prCountry" class="form-control" />
        </div>
        <div class="form-group col-2">
            <label>ILETS</label>
            <select formControlName="ilets" class="form-control" >
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="form-group col">
            <label>ILETS Band</label>
            <input type="number" formControlName="iletsBand" class="form-control" />
        </div>
        <div class="form-group col-2">
            <label>Contacted</label>
            <select formControlName="contacted" class="form-control" >
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users#{{location}}" [queryParams]="{ path: path, page: page }" class="btn btn-link">Cancel</a>
    </div>
    <p>myForm value: {{ form.value | json }}</p>
<p>myForm status: {{ form.status | json }}</p>
</form>