<h3>{{path.substring(0,1).toLocaleUpperCase() + path.substring(1)}} Matches</h3>
<button class="btn btn-sm btn-success" (click)="generateKundli()">Generate Kundli</button>
<div style="float: right;">
<input class="ml-4 align-middle"  type="text" [(ngModel)]="usrMbNr" placeholder="Enter new mobile nr.." />
<button class="p-1" style="margin-left: 20px;" class="btn btn-sm btn-success" (click)="sendAll()">Send Matches</button>
</div>

<p></p>
    <table class="table table-striped table-bordered">
        
        <thead>
            <tr>
                <th></th>
                <th style="width: 5%">MB No</th>
                <th style="min-width: 100px;">DOB YYYY- MM- DD Time</th>
                <th style="width: 10%">City/State</th>
                <th>Native Place</th> 
                <th>Height</th>
                <th style="width: 10%;">Qualifi cation</th>
                <th style="width: 5%">Job</th>
                <th style="width: 5%">Income Photo</th>
                <th style="width: 5%">Caste</th>
                <th style="width: 10%">Job City</th>
                <th style="width: 5%">Mang lik</th>
                <th style="width: 5%;">Score</th>
                <th style="width: 5%;">Source MM-DD-YYYY</th>
                <th style="width: 5%;"></th>
            </tr>
        </thead>
        <tbody style="font-size: small;">
            <tr>
                <td></td>
                <td>{{currentUser.waNr}} {{currentUser.altNr}}</td>
                <td>{{currentUser.dob}}<p></p>{{currentUser.time}}</td>
                <td>{{currentUser.cityOfBirth}} / {{currentUser.stateOfBirth}}</td>
                <td>{{currentUser.nativePlace }}</td>
                <td>{{ getHeight(currentUser.height) }} ft</td>
                <td>{{currentUser.qualification}}</td>
                <td>{{currentUser.jobType}}  {{currentUser.jobDesc}}</td>
                <td>{{currentUser.income}} <p></p>{{ currentUser.hasPhoto ? 'Yes' : 'No'}}</td>
                <td>{{currentUser.caste}}</td>
                <td>{{currentUser.jobCity}}</td>
                <td>{{currentUser.manglik === true ? 'yes' : 'no'}}</td>
                <td>{{currentUser.score}}</td>
                <td>{{currentUser.source}}<p></p> {{getDate(currentUser.newsPaperDate) }}</td>
                <td></td>
            </tr>
            <tr *ngFor="let user of persons; let ele = index" 
            [ngStyle]="{'background-color' : user.sent === true || user.vsent === true ? '#e7e7e7' : 'white' }">
                <td>{{ (matPage * perPage) + ele + 1}}</td>
                <td><a routerLink="/users/edit/{{user.userId}}" [queryParams]="{ path: oppositePath}" class="mr-1">{{user.waNr}}</a></td>
                <td [ngStyle]="{'background-color' : user.time === '02:02' ? 'yellow' : 'light grey' }">{{user.dob}}<p></p>{{user.time}}</td>

                <td>{{user.cityOfBirth}} / {{user.stateOfBirth}}</td>
                <td>{{user.nativePlace }}</td>
                <td>{{ getHeight(user.height) }} ft</td>
                <td>{{user.qualification}}</td>
                <td>{{user.jobType}}  {{user.jobDesc}}</td>
                <td>{{user.income}}<p>{{user.hasPhoto? 'Yes' : 'No' }}</p></td>
                <td>{{user.caste}}</td>
                <td>{{user.jobCity}}</td>
                <td>{{user.manglik === true ? 'yes' : 'no'}}</td>
                <td>{{user.score}}</td>
                <td>{{user.source}}<p></p> {{getDate(user.newsPaperDate) }}</td>
                <td style="white-space: nowrap">
                    <button (click)="removeMatch(user._id)" class="btn btn-sm btn-danger" [disabled]="user.isDeleting">
                        <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!user.isDeleting">Remove</span>
                    </button>
                    &nbsp;
                    <button [ngClass]="{ 'btn-success': user.vsent === undefined || user.vsent === false,
                                     'btn-warning': user.vsent === true}" [disabled]="user.sent === true || user.time === '02:02' || user.vsent === true" (click)="sendMatch(user.userId)" class="btn btn-sm btn-success">
                        <span >Send</span>
                    </button>
                    &nbsp;
                    <button [disabled]="user.score" (click)="generateKundli(user.userId)" class="btn btn-sm btn-success">
                        <span >Match</span>
                    </button>
                </td>
            </tr>
            <tr *ngIf="!persons">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
            <tr *ngIf="persons">
                <td style="align-content: center; text-align: center;" colspan="16">
                    <span class="mr-1" *ngFor="let loop of loopArray; let indexEle = index">
                        <button class="btn btn-sm btn-success" [disabled]="currentPage == indexEle" (click)="getMatches(path, mbNr, indexEle )">{{ indexEle + 1}}</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>